.right__arrow,
.left__arrow {
	color: var(--first-color);
	padding: 0.7rem;
	border-radius: 50%;
	font-size: 3rem;
	cursor: pointer;
	border: 1px solid var(--first-color);
	transition: all 0.3s;
	position: absolute;
	bottom: -60px;
	right: 30px;
	z-index: 10;
	&:hover {
		color: var(--title-color);
		background-color: var(--first-color);
		transition: all 0.3s;
	}
}

.left__arrow {
	right: 90px;
}

.sliderCard {
	height: 490px;
}

@media screen and (max-width: 375px) {
	.sliderCard {
		width: auto;
	}
}

@media screen and (max-width: 425px) {
	.right__arrow {
		right: 10px;
	}
	.left__arrow {
		right: 65px;
	}
	.sliderCard {
		height: auto;
	}
}
